.burger {
  z-index: 10;
}

.burger-nav {
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: black;
  top: 0;
  transition: right 0.3s ease;
  z-index: 9;
}

.openNav .burger-nav {
  left: 0;
}

.burgerNav,
.burgerNav::before,
.burgerNav::after {
  display: block;
  width: 2em;
  height: 0.3em;
  position: relative;
  background-color: #ffc400;
  transition: all 0.3s ease;
}

.burgerNav::before,
.burgerNav::after {
  content: "";
  position: absolute;
  left: 0;
}

.burgerNav::before {
  top: 0.7em;
}

.burgerNav::after {
  bottom: 0.7em;
}

.burgerNav.open::before {
  transform: rotate(45deg);
  top: 0;
}

.burgerNav.open::after {
  transform: rotate(-45deg);
  bottom: 0;
}

.burgerNav.open {
  background-color: #6c6c6c;
}

.btnBurger {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  height: 30px;
  width: 30px;
  position: relative;
  z-index: 11;
}

@media screen and (min-width: 768px) {
  nav {
    display: none;
  }
}
