.sortBar {
  flex: 1;
  margin: 1em;
  border-radius: 7px;
  padding: 1em;
  width: 95%;
  height: fit-content;
  background-color: #6c6c6c;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  @media screen and (max-width: 890px) {
    display: none;
  }
}
.sortButtons {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.buttons {
  background-color: #ffc400;
  color: black;
  margin: 0.3em;
  padding: 0.3em;
  border-radius: 5px;
  font-size: 2em;
}
