.sortBar {
  padding: 1em;
  margin: 1em;
  border-radius: 7px;
  padding: 1em;

  height: fit-content;
  background-color: #6c6c6c;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  /* @media screen and (max-width: 890px) {
		display: none;
	} */
}
.sortButtons {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.buttons {
  background-color: #ffc400;
  color: black;
  margin: 0.3em;
  padding: 0.3em;
  border-radius: 5px;
  font-size: 2em;
}

/*MENU BURGER*/
.burger {
  z-index: 10;
}
.sortButtons {
  position: absolute;
  left: -250px;
  width: 250px;
  height: 100%;
  top: 0;
  transition: right 0.3s ease;
  z-index: 9;
}

.openNav {
  left: 0;
}

.burgerNav,
.burgerNav::before,
.burgerNav::after {
  display: block;
  width: 2em;
  height: 0.3em;
  position: relative;
  background-color: #ffc400;
  transition: all 0.3s ease;
}

.burgerNav::before,
.burgerNav::after {
  content: "";
  position: absolute;
  left: 0;
}

.burgerNav::before {
  top: 0.7em;
}

.burgerNav::after {
  bottom: 0.7em;
}

.burgerNav.open::before {
  transform: rotate(45deg);
  top: 0;
}

.burgerNav.open::after {
  transform: rotate(-45deg);
  bottom: 0;
}

.burgerNav.open {
  background-color: #6c6c6c;
}

.btnBurger {
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  height: 30px;
  width: 30px;
  position: relative;
  z-index: 11;
}

.btnBurger {
  position: relative;
  bottom: 125px;
  right: 20px;
}
